.root-container {
  display: flex;
  justify-content: center;
}

mat-card-header {
  display: flex;
  justify-content: center;
}

mat-card {
  border: 2px solid black;
  height: 600px;
  width: 500px;
}

mat-form-field {
  display: block;
  padding: 5px;
}
